<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/fragments/head :: head" </head>
    <body>

        <div>
            <header th:replace="/fragments/header :: header" </header>
        </div>

        <main>
            <div class="container-fluid containerForm">
                <div class="row rowForm">

                    <div class="col-md-10 col-lg-8 col-xl-8 ">
                        <div class="alert alert-success mensajeExito" role="alert"  th:if="${success != null}" >
                            <p class="custom-success-message mensaje" th:text="${success}">


                            </p>
                        </div>

                        <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError rounded-3 p-2">
                            <div class="card-body">
                                <p class="card-text fs-6 mb-0 custom-error-message" th:text="${error}"></p>
                            </div>
                        </div>

                        <form
                            th:action="@{/news/editNews/__${news.id}__}"
                            method="POST"
                            class="form"
                            id="formLogin"
                            enctype="multipart/form-data"
                            >

                            <!-- Title input -->
                            <div class="form-outline mb-3 col-12">
                                <input
                                    type="text"
                                    id="title"
                                    class="form-control form-control-lg"
                                    placeholder="Título"
                                    name="title"
                                    th:value="${news.title}"
                                    />
                                <label class="form-label" for="title">Título</label>
                            </div>

                            <!-- Body input -->
                            <div class="form-outline mb-3 col-12">
                                <textarea 
                                    name="body" 
                                    id="body" 
                                    cols="30" 
                                    rows="15" 
                                    class="form-control form-control-lg" 
                                    placeholder="Cuerpo de la noticia"
                                    th:text="${news.body}"></textarea>

                                <label class="form-label" for="body">Cuerpo de la noticia</label>
                            </div>
                            <div class="row rowDataForm">

                                <!-- Category input -->
                                <div class="form-outline mb-2 col-3">
                                    <select
                                        id="category"
                                        class="form-control form-control-lg"
                                        placeholder="Categoría"
                                        name="category"
                                        >
                                        <option th:each="category : ${categorys}" th:value="${category}" th:text="${category}"></option>
                                        
                                    </select>
                                    <label class="form-label" for="title">Categoría</label>

                                </div>          
                                                  <!-- Suscriber input-->
                                                  <div class="form-outline mb-2 col-3  divCheckbox">
                                                    <label class="form-check-label" for="subscriberContent">¿Exclusivo suscritores?</label>
                                                    <input
                                                        type="checkbox"
                                                        id="subscriberContent"
                                                        class="form-check-input"    
                                                        th:name="subscriberContent"
                                                        autocomplete="off"
                                                        />
                                                      
                                                </div>    

                                <!-- Image input -->
                                <div class="form-outline mb-2 col-5 ">
                                    <input
                                        type="file"
                                        id="image"
                                        class="form-control form-control-lg"
                                        placeholder="Subir imagen"
                                        name="imageFile"
                                        />
                                    <label class="form-label" for="image">Subir imagen</label>
                                </div>
                            </div>

                            <div class="text-center text-lg-start mt-2 pt-2">
                                <button
                                    type="submit"
                                    class="btn btn-primary btn-lg btnSubmit"
                                    id="btnSubmit"
                                    >
                                    Guardar Noticia
                                </button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>

        <footer th:replace="/fragments/footer :: footer"> </footer>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
