<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head th:replace="/fragments/head :: head"></head>
  <body>
    <header th:replace="/fragments/header :: header"></header>

    <main>
      <div class="container-fluid divMain">
        <div class="navBar navBarFilter row">
        
        
            <ul class="nav navFilter">
              <li class="col-2">
                <h6>Filtrar</h6>
              </li>
              <li class="btnFilter">
                <div class="dropdown text-end form-control filter">
                  <a
                    href="#"
                    class="d-block link-dark text-decoration-none dropdown-toggle nav-link link filter"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="fa-regular fa-user"></i><span class="spanLogin">Título</span>
                  </a>
          
                  <ul class="dropdown-menu">
                    <li>
                      <a th:href="@{/news/manage/titleAZ}" class="nav-link link linkLog categoryFilter">
                      A-Z</a>
                      </li>
                    <li>
                    <a th:href="@{/news/manage/titleZA}" class="nav-link link linkLog categoryFilter">
                     Z-A</a>
                    </li>
                </div>
                </li> 
              <li class="btnFilter">
                <div class="dropdown text-end form-control filter col-2 col-md-1">
                  <a
                    href="#"
                    class="d-block link-dark text-decoration-none dropdown-toggle nav-link link filter"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="fa-regular fa-user"></i><span class="spanLogin">Categoría</span>
                  </a>
          
                  <ul class="dropdown-menu">
                    <li th:each="category : ${categorys}">
                      <a th:href="@{/news/manage/__${category}__}" class="nav-link link categoryLink categoryFilter" th:text="${category}"></a>
                      </li>
                    <li>

                  </div>
              </li> 

                <li class="btnFilter">
                <div class="dropdown text-end form-control filter col-2 col-md-1">
                  <a
                    href="#"
                    class="d-block link-dark text-decoration-none dropdown-toggle nav-link link filter"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="fa-regular fa-user"></i><span class="spanLogin">Autor</span>
                  </a>
          
                  <ul class="dropdown-menu">
                    <li>
                      <a th:href="@{/news/manage/writerAZ}" class="nav-link link linkLog categoryFilter">
                      A-Z</a>
                      </li>
                    <li>
                    <a th:href="@{/news/manage/writerZA}" class="nav-link link linkLog categoryFilter">
                     Z-A</a>
                    </li>
                  </div>
                </li> 

              <li class="btnFilter">
                <div class="dropdown text-end form-control filter col-2">
                  <a
                    href="#"
                    class="d-block link-dark text-decoration-none dropdown-toggle nav-link link filter"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="fa-regular fa-user"></i><span class="spanLogin">Fecha</span>
                  </a>
          
                  <ul class="dropdown-menu text-small">
                    <li>
                      <a th:href="@{/news/manage}" class="nav-link link linkLog categoryFilter">
                       Más Nuevos</a>
                      </li>
                    <li>
                    <a th:href="@{/news/manage/dateAsc}" class="nav-link link linkLog categoryFilter">
                     Más Viejos</a>
                    </li>
                  </div>
              </li> 
                   
                  </ul>



                
                 
      
          </div>
       
        <table class="table row-col-12 table-light newsTable" id="newsTable">

          <thead>
            <tr class="row-col-12 titulosTabla">
              <th scope="col" class="col-2">Título</th>
              <th scope="col" clas="col-2">Cuerpo</th>
              <th scope="col" class="col-2 col-md-1">Categoría</th>
              <th scope="col" class="col-2 col-md-1">Autor</th>
              <th scope="col" class="col-2">Fecha</th>
              <th scope="col" class="col-2 col-md-1">Acciones</th>
            </tr>
          </thead>

          <tbody >
            <tr th:each="news : ${news}">
              <td th:text="${news.title}"></td>
              <td ><p th:text="${news.body}" class="tableLongText"></p></td>
              <td th:text="${news.category}"></td>
              <td th:text="${news.writer.name}"></td>
              <td th:text="${news.dateLog}"></td>
              <td>
                <div class="col-12">
                  <a th:href="@{/news/editNews/__${news.id}__}" class="link">
                    <i class="fa-regular fa-pen-to-square"></i
                  ></a>

                  <a th:href="@{/news/deleteNews/__${news.id}__}" class="link">
                    <i class="fa-solid fa-trash-can"></i
                  ></a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>

    <footer th:replace="/fragments/footer :: footer"></footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
